* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

header {
    background-color: rgba(40, 53, 147, 0.8); /* Semi-transparent header */
    color: #fff;
    padding: 0.3px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between; /* Space between left and right items */
    align-items: center;
    padding: 10px 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #35384b;
    border-radius: 5px;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

video {
    width: 100%; /* Adjust width for responsive layout */
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 100px 200px rgba(0, 0, 0, 0.1);
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.thumbnail {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    width: calc(50% - 10px); /* Adjust width for responsive layout */
    transition: transform 0.3s;
}

.thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.thumbnail:hover .overlay {
    opacity: 1;
}

@media (max-width: 600px) {
    .thumbnail {
        width: calc(100% - 20px); /* Adjust width for smaller screens */
    }
}